<section class="jumbotron success" id="about">
  <div id="about" class="success container">
    <div id="about" class="row success">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr>
      </div>
    </div>
    <div class="row success">
      <div class="col-xs-12">
        <p>Lost count of what lego he has an hasn't got? Want some help choosing which collection my overindulged, demanding son as added to his wishlist? Look no further, his mummy created this app to give you a little guide when venturing out on your Christmas shopping!</p>
        <p>Shown in the Index you will find a list of lego superheros. Each one displays its own unique status, "Arthur owns it!" or "Arthur wants it!".</p>
        <p>In an effort to avoid duplications, if you purchase one of the very much desired lego superheros ("Arthur wants it!") simply click on the status to change it, and "hurrah" it changes to "Arthur owns it!". Totally awesome.</p>
      </div>
    </div>
  </div>
</section>
